.ticket {
  display: block;
  min-width: 89%;
  margin: 5%; }

.ticket::after {
  content: "";
  height: 0.5rem;
  width: 100%;
  display: block;
  clear: both; }

.ticket_header {
  background-color: #d50000;
  height: 34px;
  display: block;
  width: 100%;
  float: left;
  border: 1px solid #d50000; }

.ticket_titleContainer {
  display: block;
  float: left;
  width: 86%; }

.ticket_menuiconContainer {
  display: block;
  float: left;
  width: 13%;
  padding: 0.5rem; }

.ticket_titleText {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0.4rem 0.5rem 0.5rem; }

.ticket_menuIcon {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.55rem;
  cursor: pointer; }

.ticket_body {
  display: block;
  float: left;
  width: 100%;
  border: 1px solid #d50000;
  color: #111;
  word-wrap: break-word;
  min-height: 50px; }

.ticket_bodytext {
  margin: 0;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  white-space: normal; }

.ticket_footer {
  display: block;
  float: left;
  width: 100%;
  min-height: 25px;
  background-color: #d50000;
  border: 1px solid #d50000; }
