#root {
  display: flex;
  flex: none;
  flex-wrap: nowrap;
  align-items: flex-start; }

.board {
  margin: 6rem 1rem; }

.boardWrapper {
  position: relative;
  min-width: 100vw; }

.board_title {
  display: inline-flex;
  position: absolute;
  color: black;
  flex-direction: row;
  align-items: top;
  height: 230px;
  background-color: #006064;
  color: white;
  z-index: -1;
  font-size: 1.44rem;
  left: 0;
  right: 0; }

.title_heading {
  text-transform: capitalize;
  display: inline;
  padding: 1.88rem 1.3rem;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

.centerElements {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; }

.errorMessage {
  color: red;
  font-weight: bold; }

.errorMessage_icon {
  display: block;
  font-size: 76px; }
