.column {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 19rem;
  min-height: 300px;
  border-bottom: 1px solid #111;
  background-color: #e1e2e1;
  margin-right: 0.5%; }

.column_headerContainer {
  width: 100%;
  min-height: 75px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer; }

.column_header {
  width: 99%;
  display: inline-block;
  min-height: 75px;
  border-top: 13px solid #4db6ac;
  background-color: #009688;
  vertical-align: top;
  transition: width 250ms ease-in-out; }

.column_header--hover {
  width: 80%; }

.column_actions {
  display: inline-block;
  min-height: 88px;
  width: 20%;
  background-color: #f50057; }

.actions_delete {
  display: flex;
  align-items: center;
  height: 88px;
  justify-content: center;
  cursor: pointer; }

.column_title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 0 1rem 0 1rem;
  word-break: break-all; }

.column_tickets {
  width: 100%;
  height: auto; }

.column_ticketForm {
  width: 100%;
  margin-top: auto;
  padding-bottom: 10px;
  text-align: center; }
